body >
scroll-behavior : smooth;


 table{
    width: 100%;
}

table{
    border-collapse: collapse ;
}

table.list{
    width: 100%;
}

td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 10px;
}

tr:nth-child(even),table.list thead>tr{
    background-color: #dddddd;
}

input[type=text], input[type=number]{
    widows: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #dddddd;
    color: black;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}
form div.form-action-buttons{
    text-align: right;
}

a{ 
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color: red;
    margin-left:5px;
}
.hide{
    display: none;
}